.hero {
  background-image: url("../img/background/hero-mobile.jpg");
  width: 100%;
  min-height: 373px;
  background-position: center top -16px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 73px 0 0 0;
  background-color: $secondary-background;
  margin-bottom: 31px;

  @include tablet {
    background-image: url("../img/background/hero-tablet.jpg");
    background-position: center top -64px;
    min-height: 682px;
    padding-top: 92px;
    margin-bottom: 53px;
  }

  @include desktop {
    background-image: url("../img/background/hero-desktop.jpg");
    margin-bottom: 71px;
  }
}

.hero__title {
  color: $heading-text;
  text-align: center;
  font-family: inherit;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  width: 260px;
  margin: 0 auto;
  padding-bottom: 120px;

  @include tablet {
    font-size: 43px;
    line-height: 50px;
    width: 668px;
    padding-bottom: 371px;
  }

  @include desktop {
    font-size: 53px;
    line-height: 57px;
    padding-bottom: 358px;
  }
}

.hero__menu-list {
  @include list;

  @include tablet {
    display: flex;
    padding-left: 49px;
    padding-right: 49px;
  }

  @include desktop {
    margin: 0 auto;
  }
}

.hero__menu {
  position: relative;

  &::after {
    @include tablet {
      content: "";
      mask-image: url("../img/icons/zigzag-fill.svg");
      position: absolute;
      width: 100%;
      height: 24px;
      background-color: $white;
      left: 0;
      bottom: -13px;
    }

    @include desktop {
      mask-image: url("../img/icons/zigzag-fill-desktop.svg");
      height: 34px;
      bottom: -16px;
    }
  }
}

.hero__menu-item {
  position: relative;


  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: right;
    fill: $dark-sea;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  &:hover {
    &::after {
      opacity: 0.7;
    }
  }

  &:active {
    &::after {
      opacity: 0.3;
    }
  }

  &--interior {
    background-color: $tiffani;

    &::after {
      mask-image: url("../img/stack.svg#interior");
      background-color: $dark-sea;
      width: 40px;
      height: 62px;
      right: 35px;
    }

    &:hover {
      background-color: $sea;
      transform: translateY(-5px);
    }
  }

  &--toy {
    background-color: $special-tiffany;

    &::after {
      mask-image: url("../img/stack.svg#toy");
      background-color: $dark-sea;
      width: 60px;
      height: 60px;
      right: 26px;

      @include tablet {
        right: 35px;
      }
    }

    &:hover {
      background-color: $tiffany-dark;
      transform: translateY(-5px);
    }
  }

  @include tablet {
    width: 100%;
    min-height: 119px;
  }
}

.hero__menu-item-link {
  color: $hero-links;
  font-family: inherit;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  width: 100%;
  display: block;
  padding: 24px 160px 31px 30px;

  @include tablet {
    padding: 25px 167px 34px 36px;
    font-size: 20px;
    line-height: 30px;
  }
}

.hero__menu {
  margin: 0;
}
