.main-header {
  background-color: transparent;
  position: relative;
}

.main-header__wrapper {
  display: flex;
  padding: 22px 33px;
  position: relative;
  height: 79px;

  @include tablet {
    padding: 0;
  }
}

.main-header__nav {
  position: absolute;
  width: 100%;
  z-index: 3;
  display: none;
  left: 0;
  top: 0;

  @include tablet {
    position: static;
    display: block;
    background-color: transparent;
  }
}

.main-header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;

  @include tablet {
    left: 60px;
    transform: translate(0, -50%);
  }
}

.main-header__button {
  display: block;
  background-image: url("../img/stack.svg#menu-open");
  width: 20px;
  height: 14px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  z-index: 5;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet {
    display: none;
  }
}




.main-header__logo-image {
  max-width: none;
}

.main-header__toggle-closed {
  background-image: url("../img/icons/menu-close.svg");
  width: 22px;
  height: 22px;
  border: none;
  background-color: var(--blue);
  background-repeat: no-repeat;
  background-position: center;
}


