.offer {
  padding-bottom: 36px;

  @include tablet {
    padding-bottom: 0;
    margin-bottom: 126px;
  }

  @include  desktop {
    margin-bottom: 158px;
  }
}

.offer__wrapper {
  @include tablet {
    display: grid;
    grid-template-columns: 292px 1fr;
    column-gap: 42px;
  }

  @include desktop {
    grid-template-columns: 467px 1fr;
    column-gap: 58px;
  }
}

.offer__title {
  padding-bottom: 4px;

  @include tablet {
    grid-column: 1/3;
    grid-row: 1/2;
    padding-bottom: 0;
    margin-bottom: 37px;
  }

  @include desktop {
    margin-left: 175px;
    margin-top: 61px;
    margin-bottom: 5px;
  }
}

.offer__week {
  color: $tiffani;
  font-family: inherit;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 17px;

  @include tablet {
    line-height: 17px;
    grid-column: 2/3;
    grid-row: 1/2;
    align-items: center;
    padding-bottom: 0;
    width: 100px;
    margin-left: auto;
    text-align: center;
    margin-top: 5px;
    margin-right: 15px;
  }

  @include desktop {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 33px;
    margin-top: 69px;
    margin-right: 0;
  }
}

.offer-description {
  padding-bottom: 26px;

  @include tablet {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-bottom: 0;
    margin-bottom: 48px;
  }

  @include desktop {
    margin-left: 175px;
    margin-bottom: 29px
  }
}

.offer__list {
  @include list;

  margin-bottom: 23px;

  @include tablet {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-bottom: 51px;
  }

  @include desktop {
    margin-left: 175px;
  }
}

.offer__item {
  position: relative;
  display: grid;
  grid-template-columns: 97px 1fr;
  padding-bottom: 16px;

  @include tablet {
    padding-bottom: 20px;
  }

  &::after {
    content: "";
    border-bottom: 1px solid $offer-border;
    width: 100%;
    position: absolute;
    bottom: 5px;
    left: 0;

    @include tablet {
      bottom: 7px;
    }
  }
}

.offer__order {
  margin-top: 20px;

  @include tablet {
    margin-top: 0;
  }

  @include desktop {
    margin-left: 175px;
  }
}

.offer__order-price {
  color: $main-text;
  text-align: center;
  font-family: inherit;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding-bottom: 25px;

  @include tablet {
    font-size: 20px;
    padding-bottom: 32px;
  }
}

.offer__img-wrapper {
  @include tablet {
  grid-column: 2/3;
  grid-row: 2/5;
  padding-top: 5px;
  }

  @include desktop {
    grid-row: 1/5;
    padding-top: 0;
    z-index: -1;
  }
}

.offer__unit,
.offer__description {
  @include tablet {
    font-size: 15px;
    line-height: 20px;
  }
}

