.order-message {
  position: relative;
  width: 100%;
  padding: 30px 29px 46px 29px;
  background-color: $white;
  box-shadow: 0 5px 10px 0 $modal-shadow;
  border: 1px solid $modal-border;

  @include tablet {
    width: 566px;
    padding: 38px 92px 46px 93px;
  }
}

.order-message__heading {
  display: block;
  text-transform: uppercase;
  padding: 0 40px 0 44px;
  margin: 0 auto 17px auto;
  width: fit-content;
  max-width: 100%;

  @include tablet {
    padding: 0;
    margin: 0 auto 11px auto;
    font-size: 30px;
    line-height: 57px;

    br {
      display: none;
    }
  }
}

.order-message__form {
  @include tablet {
    padding: 0 15px 0 14px;
    box-sizing: border-box;
  }
}

.order-message__description {
  text-align: center;
  margin: 0 0 26px 0;

  @include tablet {
    margin: 0 0 20px 0;
  }
}

.order-message__list {
  @include list;
  display: flex;
  flex-wrap: wrap;
  column-gap: 7px;
  row-gap: 7px;
  justify-content: flex-start;
  width: fit-content;
  max-width: 100%;
  margin: 0 auto 30px auto;

  @include tablet {
    margin: 0 auto 31px auto;
  }
}

.order-message__control-description {
  text-transform: uppercase;
  color: $special-black;
  text-align: center;
  font-family: inherit;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  display: flex;
  width: 82px;
  height: 52px;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(69, 69, 69, 0.1);
  cursor: pointer;
  transition: border-color 0.3s ease;

  @include tablet {
    width: 112px;
  }
}

.order-message__control:hover+.order-message__control-description {
  border: solid 2px $modal-radio-hover;
}

.order-message__control:focus+.order-message__control-description {
  border: solid 2px $modal-radio-hover;
}

.order-message__control:checked+.order-message__control-description {
  border: solid 2px $special-sea;
}

.order-message__control:disabled+.order-message__control-description {
  opacity: 0.1;
  pointer-events: none;
  cursor: default;
}
