.order-knitting {
  padding: 17px 30px 55px 30px;

  @include tablet {
    padding: 54px 0 50px 0;
  }

  @include desktop {
    padding: 98px 0 50px 0;
  }
}

.order-knitting__description {
  margin: 0 0 29px 0;

  @include tablet {
    padding: 0 50px;
    margin: 0;
  }

  @include desktop {
    padding: 0 225px;
    margin: 0 auto;
    width: 1150px;
  }
}
