.order {
  margin-bottom: 55px;

  @include tablet {
    margin-bottom: 50px;
  }
}

.order__description {
  color: $main-text;
  font-family: inherit;
  font-size: 13px;
  font-style: normal;
  line-height: 24px;
  margin: 0 0 29px 0;

  @include tablet {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 69px;
  }

  @include desktop {
    padding: 0 225px;
    margin-bottom: 68px;
  }
}
