.reviews {
  margin-bottom: 90px;

  @include tablet {
    background-image: url("../../img/background/review.jpg");
    background-repeat: no-repeat;
    background-size: 350px auto;
    padding-bottom: 47px;
    padding-top: 76px;
    margin-bottom: 153px;
  }

  @include desktop {
    padding-top: 79px;
    background-position-x: 49px;
    padding-bottom: 96px;
    margin-bottom: 159px;
  }
}

.reviews-wrapper {
  @include tablet {
    display: grid;
    grid-template-columns: 350px 175px;
    column-gap: 143px;
  }

  @include desktop {
    grid-template-columns: 1fr 175px;
  }
}

.reviews__list {
  @include tablet {
    grid-column: 1/3;
    grid-row: 1/3;
  }
}

.reviews__item {
  margin: 0;
  padding-bottom: 27px;

  @include tablet {
    padding-bottom: 0;
    margin-top: 40px;
  }

  @include desktop {
    margin-top: 34px;
  }
}

.reviews__title {
  padding-bottom: 14px;

  @include tablet {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 5px;
  }

  @include desktop {
    margin-left: 175px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.reviews__text-wrapper {
  height: 270px;
  overflow-y: auto;

  @include tablet {
    height: 120px;
  }
}

.reviews__text {
  line-height: 30px;

  @include tablet {
    width: 668px;
  }

  @include desktop {
    width: 875px;
  }
}

.reviews__author-name {
  color: $dark;
  font-family: inherit;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  display: block;
  margin-top: 33px;

  @include tablet {
    margin-top: 60px;
    font-size: 18px;
    max-width: 400px;
  }

  @include desktop {
    margin-top: 13px;
    font-size: 17px;
  }

  &--mail {
    margin-top: 5px;
    color: $special-black;
    font-weight: 400;
    line-height: 30px;

    @include tablet {
      font-size: 17px;
    }
  }
}

.reviews__button {
  padding: 14px 26px;

  @include tablet {
    grid-row: 1/2;
    grid-column: 2/3;
    width: 175px;
    padding: 15px 26px;
  }

  @include desktop {
    padding: 14px 26px;
  }
}
