.video {
  margin-top: 30px;
  margin-bottom: 58px;

  @include tablet {
    margin-bottom: 63px;
  }

  @include desktop {
    margin-top: 0;
    margin-bottom: 101px;
  }
}

.video-wrapper {
  display: flex;
  flex-direction: column;
  padding: 19px 0 33px 0;
  border: 1px solid $catalog-item-border;

  @include tablet {
    padding-top: 0;
    padding-bottom: 44px;
  }

  @include desktop {
    display: grid;
    grid-template-columns: 683px 1fr;
    column-gap: 79px;
    padding-bottom: 0;
  }
}

.video__title {
  position: relative;
  color: $heading-text;
  font-family: inherit;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 27px 0;
  padding: 0 13px 0 91px;

  @include tablet {
    font-size: 20px;
    line-height: 24px;
    padding: 0 107px 0 107px;
    margin: 42px 0 24px 0;
  }

  @include desktop {
    padding: 96px 107px 27px 0;
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0;
  }

  &::before {
    content: "";
    position: absolute;
    mask-image: url("../img/stack.svg#video");
    width: 32px;
    height: 22px;
    left: 33px;
    top: 50%;
    transform: translateY(-50%);
    background-color: $tiffani;

    @include tablet {
      left: 42px;
    }

    @include desktop {
      left: 0;
      top: 32%;
    }
  }
}

.video__wrapper-picture {
  position: relative;

  @include tablet {
    order: -1;
  }

  @include desktop {
    grid-column: 1/2;
    grid-row: 1/4;
  }
}

.video__picture-button {
  position: absolute;
  border: none;
  background-image: url("../img/catalog/play.png");
  background-color: transparent;
  width: 100px;
  height: 77px;
  left: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video__description {
  color: $main-text;
  font-family: inherit;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 35px 30px 41px 34px;
  margin: 0;

  @include tablet {
    font-size: 15px;
    line-height: 30px;
    padding: 0 46px 41px 40px;
  }

  @include desktop {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 0 46px 51px 0;
  }
}

.video__button {
  width: 192px;
  margin: 0 auto;
  text-align: center;
  padding: 18px 11px;
  line-height: 16px;
  height: 52px;

  @include tablet {
    width: 584px;
  }

  @include desktop {
    width: 230px;
    margin: 0 0 61px 0;
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

.video__item-img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 150px;

  @include tablet {
    height: 455px;
  }
}
