body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  min-width: 320px;
  max-width: 1150px;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

.container {
  display: block;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;

  @include tablet {
    padding-left: 49px;
    padding-right: 49px;
  }
}
