// COLORS

$white: #ffffff;
$sea-wave: #47c2af;
$light-grey: rgba(237, 237, 237, 0.3);
$basic-grey: #eeeeee;
$special-grey: #e6e6e6;
$dark-grey: #e5e5e5;
$basic-blue: #81b3d2;
$special-blue: #669ec0;
$dark-blue: #5496bd;
$status-error: #ff0000;
$brown: #766357;
$dark: #333333;
$shadow: #000101;
$grey-shadow: #ececec;
$black: #000000;

// TEXT COLORS

$main-text: $dark;
$heading-text: $black;
$bright-text: $white;
$link-text-current: $brown;
$link-text-hover: $basic-blue;
$link-text-active: rgba($black, 0.3);

// BACKGROUND COLORS

$main-background: $white;
$secondary-background: $light-grey;
$additional-background: $basic-blue;
$reverse-background: $black;
$advantages-background: $basic-grey;
$photo-background: #eaeaea;
$intro-background: $dark-blue;

// SHADOWS

$main-shadow: $shadow;
$navigation-shadow: $grey-shadow;
$bright-shadow: $white;
$modal-shadow: #000101;

// DIVIDER

$advantages-divider: #d6d6d6;
$form-divider: $dark-grey;
$form-divider-additional: #dbdbdb;

// MAIN-BUTTON

$button-background: $basic-blue;
$button-hover: $special-blue;
$button-active: $dark-blue;
$button-disabled: $dark-grey;

// INPUT

$input-background: $white;
$input-hover: $dark-grey;
$input-active: $white;
$input-control-active: #d5d5d5;

// LOGO

$logo-hover: $sea-wave;


// Viewports
$phone: 320px;
$tablet: 768px;
$desktop: 1150px;
