// COLORS

$white: #ffffff;
$sea-wave: #47c2af;
$tiffani: #63D1BB;
$tiffany-dark: #46C1AE;
$special-tiffany: #56C3B2;
$dark-sea: #149080;
$sea: #59D5BC;
$special-sea: #62D1BA;
$light-grey: rgba(237, 237, 237, 0.3);
$grey-grey-grey: #ececec;
$basic-grey: #eeeeee;
$special-grey: #f1f1f1;
$dark-grey: #e5e5e5;
$grey-grey: #c6c6c6;
$basic-blue: #81b3d2;
$special-blue: #669ec0;
$dark-blue: #5496bd;
$status-error: #ff0000;
$brown: #766357;
$dark: #000000;
$shadow: #000101;
$grey-shadow: #ececec;
$black: #000000;
$special-black: #444444;
$black-black: #231F20;
$light-black: rgba(0, 0, 0, 0.1);
$special-grey-shadow:  rgba(0, 1, 1, 0.25);

// TEXT COLORS

$main-text: $special-black;
$heading-text: $black;
$bright-text: $white;
$link-text-current: $brown;
$link-text-hover: $basic-blue;
$link-text-active: rgba($black, 0.3);
$hero-links: $white;

// BACKGROUND COLORS

$main-background: $white;
$secondary-background: $light-grey;
$additional-background: $basic-blue;
$reverse-background: $black;
$advantages-background: $basic-grey;
$photo-background: #eaeaea;
$intro-background: $dark-blue;
$footer-background: $special-grey;
$hero-background: $special-grey;

// SHADOWS

$main-shadow: $shadow;
$navigation-shadow: $grey-shadow;
$bright-shadow: $white;
$modal-shadow: $special-grey-shadow;
$catalog-cards-shadow: $light-black;

// DIVIDER

$advantages-divider: #d6d6d6;
$form-divider: $dark-grey;
$form-divider-additional: #dbdbdb;

// MAIN-BUTTON

$button-background: $basic-blue;
$button-hover: $special-blue;
$button-active: $dark-blue;
$button-disabled: $dark-grey;

// INPUT

$input-background: $white;
$input-hover: $dark-grey;
$input-active: $white;
$input-control-active: #d5d5d5;

// LOGO

$logo-hover: $sea-wave;
$logo-htmlacademy: $tiffani;
$logo-htmlacademy-hover: $tiffany-dark;
$social-icons: $special-black;

// BORDERS

$border-nav: $light-black;
$footer-border: $dark-grey;
$offer-border: $grey-shadow;
$slider-button-border: $grey-shadow;
$modal-border: $grey-grey;
$catalog-item-border: $grey-grey-grey;
$form-title-border: $special-sea;

// Viewports
$phone: 320px;
$tablet: 768px;
$desktop: 1150px;
