@import "mixins/media.scss";
@import "mixins/mixins.scss";
@import "global/variables.scss";
@import "global/fonts.scss";
@import "global/setup.scss";
@import "blocks/page.scss";
@import "blocks/main-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/hero.scss";
@import "blocks/social.scss";
@import "blocks/offer.scss";
@import "blocks/about-us.scss";
@import "blocks/reviews.scss";
@import "blocks/slider.scss";
@import "blocks/contacts.scss";
